:root {
  box-sizing: border-box;
}

main {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

main > nav,
main > div {
  flex: 1;
  max-height: calc(50% - 0.5em);
}

.cm-editor {
  height: 100%;
}

/** vim: set ts=2 sts=2 sw=2: */
